.about {
    padding: 4rem 2rem;
    text-align: center;
    background-color: #faf5f5;
  }
  
  .about h2 {
    font-size: 2.5rem;
    color: #9333ea;
    margin-bottom: 1.5rem;
  }
  
  .about p {
    font-size: 1.2rem;
    color: #131212;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
  }
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }