.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #111;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header h1 {
  color: #9333ea;
  font-family: 'Merriweather' ; /* Example font */
  font-weight: bold;
  font-size: 2rem; /* You can adjust this size */
}

.header nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.header nav a:hover {
  color: #9333ea;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}