/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and HTML styling */
html, body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d; /* Dark background */
  color: white;
  font-family: 'Poppins', sans-serif; /* Poppins font */
  scroll-behavior: smooth; /* Smooth scrolling */
}

/* Code style */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Heading style */
h2 {
  font-weight: 600;
  text-transform: uppercase;
}

/* Section padding */
section {
  padding: 4rem 2rem;
}
